
.selected {

    font-weight: bold;
}
.unselected {

    font-weight: normal;
}

*{
    -webkit-user-select: none; user-select: none;

}
p{
    margin: 0.5rem;
    text-align: center;
    font-size: 1.25rem;
}
body {
    margin:0; padding:0;
    font-family: Sans-Serif;
    background-color: lavender;

}

body, html{
    font-size:3vh;
    margin-bottom:2rem;

    text-align: center;
}



footer{ height: 1rem; position: fixed;bottom:0px; background-color: black;width: 100%;}
footer > p {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0.6rem;
    line-height: 0.9rem;
    color:white;
}

.calc{
    text-align: center;

}

.calc > *{
    background-color: paleturquoise;
    padding: 1.85rem;
    margin: 0.5rem;
    border-radius: 12px;
    width: 2rem; height:2rem;
    font-size: 1.5rem;
    transition-duration: 0.3s;
    -webkit-appearance: none; /*prevent iOS styling*/
}
#calculate{
    width: 8rem;

}

button:active{
    background-color: mediumpurple; /*or SASS darken*/
}
button:focus {
    outline: none;

}



#favourite{
    font-size:1.5rem;
    width: 2.25rem; height:2.25rem;
    background-color: mediumpurple;
    border-radius:10px;
    color: gold;
    text-outline: black 50px;
    margin: 0.2rem;

    padding: 3px 2px;
}

#favourite:active{
    background-color: gold;
    transition-duration: 0.3s;

}
#favourite:disabled{
    background-color: grey;
    color:darkgrey;
    transition-duration: 0.3s;

}

#favScreen >p{

    border-top: 8px solid mediumpurple;border-radius: 0.3rem;
    border-bottom: 8px solid mediumpurple;border-radius: 0.3rem;
}


.displayNone{
    display: none;


}
#inputArea{
    margin-left:0.2rem;
    width: 8rem;
    text-align: center;
}
#inputArea > p{

    margin:0px; padding:0px;
}


#submit{
    font-size:1.5rem;
    width: 2.25rem; height:2.25rem;
    background-color: mediumpurple;

    border-radius:10px;
    color: green;
    text-outline: black 50px;

    margin: 0.2rem;
    padding: 3px 2px;

}

#submit:active{
    background-color: green;
    transition-duration: 0.3s;
}

#tabs{

}

#home{
    border-bottom-left-radius: 12px;
}
#search{
    border-bottom-right-radius: 12px;
}

#tabs >button{

    background-color: lightsalmon;
    width: 5rem; height:1.7rem;
    font-size: 1rem;
    transition-duration: 0.3s;
    -webkit-appearance: none; /*prevent iOS styling*/
}
#tabs button:active{
    background-color: coral; /*or SASS darken*/
}
#tabs:focus {
    outline: none;
}

#searchInput{
    width: 75%;
    text-align: center;
    margin-top: 5rem;
    border: 2px solid coral;
    height: 1.25rem;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}
#searchButton{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    text-align: center;
    margin-top: 5rem;
    border: 2px solid coral;
    height: 1.45rem;
}

